<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Job Recruitment Service in Sri Lanka</title>
    <meta
      name="description"
      content="Find your dream job in Sri Lanka. We connect talented professionals with leading employers across various industries."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Font awesome -->
    <script
      src="https://kit.fontawesome.com/f71394a201.js"
      crossorigin="anonymous"
    ></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="my-3">
          New Royal International - New Royal Recruitment Service SRL
        </h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Employers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </body>
</html>
